body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
#header {
  display: block;
  font-size: xx-large;
  font-family: serif;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #f2f2f2;
}
#content {
  display: block;
}
/* VISE Main Page : create new or load existing search engines */
#create_engine_panel {
  display: block;
  text-align: center;
  padding: 2em;
}
#create_engine_panel input {
  border: 1px solid #cccccc;
  padding: 0.5em 1em;
}

#load_engine_panel {
  text-align: center;
}
#load_engine_panel a {
  display: inline-block;
  padding: 1em 0.5em;
}
#load_engine_panel a:hover {
  cursor: pointer;
}

/* Displays the current state of search engine */      
#footer {
  display: block;
  position: absolute;
  bottom: 0px;
  z-index: 10;
  width: 100%;
  font-size: large;
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 1em;
  padding-bottom: 2em;
}
#footer .state_block {
  position: relative;
  display: inline-block;
  color: #000000;
  height: 100%;
}
#footer .state_block:link {
}
#footer .state_block:hover {
}

#footer .state_block .title {
  padding: 0.5em;
}
#footer .state_block .current_state {
  font-weight: bold;
}

#footer .state_block .info {
  padding: 1em;
  padding-top: 0em;
  font-size: small;
}
#footer .state_block.highlight {
  color: #ff6600;
  font-weight: bold;
}

#footer .state_block_sep {
  display: inline-block;
  position: relative;
  vertical-align: top;
  top: 0.5em;
}

#message_panel {
  position: fixed;
  left: 0;
  bottom: 0px;
  line-height: 3em;
  width: 100%;
  background-color: #000000;
  color: #ffff00;
  font-size: small;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1000;
}

.status_message {
  display: block;
  padding: 1em;
  font-family: Mono;
  font-size: 0.8em;
  color: green;
  background-color: black;
  width: 90%;
  height: 400px;
  overflow: scroll;
  white-space: pre;
}

.control_panel {
  display: block;
  padding: 0;
  margin: 1em 0;
}
.action_button {
  display: inline-block;
  border: none;
  color: #0000ff;
}
.action_button:hover {
  cursor: pointer;
}
