body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
#header {
  display: block;
  font-size: xx-large;
  font-family: serif;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #f2f2f2;
}
#content {
  display: block;
  margin: 1em;
}

/* random image */
#content .random_image {
  display: block;
  text-align: center;
}
#content .random_image img {
  height: 300px;
}

/* VISE Main Page : create new or load existing search engines */
#create_engine_panel {
  display: block;
  text-align: center;
  padding: 2em;
}
#create_engine_panel input {
  border: 1px solid #cccccc;
  padding: 0.5em 1em;
}

#load_engine_panel {
  text-align: center;
}
#load_engine_panel a {
  display: inline-block;
  padding: 1em 0.5em;
}
#load_engine_panel a:hover {
  cursor: pointer;
}

/* Displays the current state of search engine */      
#footer_panel {
  display: block;
  position: absolute;
  bottom: 0px;
  z-index: 10;
  width: 100%;
  font-size: large;
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 1em;
  padding-bottom: 0.2em;
}
#footer_panel .state_block {
  position: relative;
  display: inline-block;
  color: #000000;
  height: 100%;
}
#footer_panel .state_block:link {
}
#footer_panel .state_block:hover {
}

#footer_panel .state_block .title {
  padding: 0.5em;
}
#footer_panel .state_block .current_state {
  font-weight: bold;
}

#footer_panel .state_block .info {
  padding: 1em;
  padding-top: 0em;
  font-size: small;
}
#footer_panel .state_block.highlight {
  color: #00ff00;
  font-weight: bold;
}

#footer_panel .state_block_sep {
  display: inline-block;
  position: relative;
  vertical-align: top;
  top: 0.5em;
}

#message_panel {
  position: fixed;
  left: 0;
  bottom: 0px;
  line-height: 3em;
  width: 100%;
  background-color: #000000;
  color: #ffff00;
  font-size: small;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1000;
}

#log {
  display: block;
  padding: 1em;
  font-family: Mono;
  font-size: 0.8em;
  color: green;
  background-color: black;
  width: 90%;
  height: 400px;
  overflow: scroll;
  white-space: pre;
}

#control_panel {
  display: block;
  padding: 0 1em;
  margin: 0.5em 0;
  font-size: medium;
  text-align: center;
}
.action_button {
  display: inline-block;
  border: none;
  color: #0000ff;
}
.action_button:hover {
  cursor: pointer;
}

.action_img:hover {
  cursor: pointer;
}

/* Progress bar */
#progress_panel {
  display: block;
  width: 100%;
  height: 30px;
  background-color: #f2f2f2;
  margin: 0em 0em;
  margin-top: 1em;
  padding: 0;
  text-align: center;
}
#progress_box {
  display: none;
  position: relative;
  border: none;
  padding: 0 0;
  height: 1.6em;
  text-align: center;
}
#progress_text {
  position: absolute;
  line-height: 1.4em;
}
#progress_bar {
  width: 0%;
  height: 1.6em;
  background-color: #80b3ff;
}

/* State: Setting */
#vise_setting {
  padding: 1em 2em;
}

/* State: Query */
/* source: http://alijafarian.com/responsive-image-grids-using-css/ */
#vise_canvas_panel {
  margin: auto;
}

ul.img_list {
  list-style: none;
  font-size: 0px;
  margin-left: -2.5%;
}
ul.img_list li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%;
  background: #ffffff;
  border: 1px solid #dddddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 5px #dddddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
}
ul.img_list li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}
ul.img_list li h3 {
  font-size: 0.8em;
  margin: 0 0 5px;
}
ul.img_list li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999999;
}
ul.img_list.columns-2 li {
  width: 47.5%;
}
ul.img_list.columns-3 li {
  width: 30.83%;
}
ul.img_list.columns-4 li {
  width: 22.5%;
}

@media (max-width: 480px) {
  ul.grid-nav li {
    display: block;
    margin: 0 0 5px;
  }
  ul.grid-nav li a {
    display: block;
  }
  ul.img_list {
    margin-left: 0;
  }
  ul.img_list li {
    width: 100% !important;
    margin: 0 0 20px;
  }
}

/* Image Comparison */
ul.img_list li canvas {
}

