body {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ffffff;
  color: #000000;
  opacity: 1.0;
  /*  min-width: 1280px; min-height: 720px; */
  min-width: 900px; min-height: 600px; /* small screen */
}

* {
  box-sizing: border-box;
}

/* source: https://codepen.io/thiagobraga/pen/bhDdn */
a[target="_blank"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 0.3rem;
}

li {
  margin: 0.5rem 0;
}

.page {
  display: block;
  margin: auto;
  padding: 0 0.5rem;
  display: block;
  min-width: 920px;
  max-width: 60%;
}
.pageresult {
  display: block;
  margin: auto;
}

.pagerow {
  display: block;
}

.pagecell {
  display: inline-block;
  margin: 1rem !important;
}

.pagecell_with_margin {
  display: inline-block;
  margin: 1rem 1rem !important;
}

.pageheader {
  margin: 2rem 0;
}
.pageheader .header_control_panel {
  border: none;
}
.pageheader .header_control_panel div {
  display: inline-block;
}
.pageheader .header_control_panel div:last-child {
  float: right;
}

.pagerow .title {
  display: block;
  text-align: center;
  padding: 1rem 0;
}

.metadata_table {
  display: table;
  border-collapse: collapse;
  margin: 0.5rem 0;
}
.metadata_table tr {
  display: table-row;
}
.metadata_table td {
  display: table-cell;
  padding: 0.4rem 0.8rem;
  border: 1px solid #e6e6e6;
}

/* The panel showing query image and its metadata */
.query_image_panel {
  box-shadow: 10px 10px 16px -4px #e6e6e6;
  margin: 2rem 0;
  padding: 0 0 1rem 0;
  overflow: auto;
  background: #fff6d5;
}
.query_image_panel div {
  display: inline-block;
}
.query_image_panel img {
  float: right;
  margin: 1rem 1rem;
}
.query_image_panel .metadata_table td {
  border: none;
}

/* The panel showing text search keyword */
.text_search_panel {
  box-shadow: 10px 10px 16px -4px #e6e6e6;
  margin: 2rem 0;
  padding: 1rem;
  background: #ffaaee;
}
.text_search_panel .title {
  text-align: center;
}

/* The panel showing ISTC metadata for a page showing list of images associated with a ISTC id */
.istc_info_panel {
  box-shadow: 10px 10px 16px -4px #e6e6e6;
  margin: 2rem 0;
  padding: 0 0 1rem 0;
  overflow: auto;
  background: #d5e5ff;
}
.istc_info_panel .metadata_table {
  margin: 1rem;
}
.istc_info_panel .metadata_table td {
  border: none;
}


/* The panel showing search result count and search result page navigation */
.search_result_panel {
  border: none;
  overflow:auto;
  margin: 1rem 0;
}
.search_result_panel div {
  display: inline-block;
}
.search_result_panel div:last-child {
  float: right;
}
.search_result_panel div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.search_result_panel div li {
  display: inline;
  padding-left: 1rem;
}

/* The panels showing each search result */
.search_result_i {
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 16px -4px #e6e6e6;
  margin: 3rem 0;
  padding: 0 0 2rem 0;
  background: #f9f9f9;
}

.search_result_i .header {
  display: block;
  padding: 1rem 0;
  border-bottom: 1px solid #e6e6e6;
  overflow: auto;
  text-align: left;
}

.search_result_i .header span {
  padding: 0 1rem;
}

.search_result_i .header span:last-child {
  float: right;
}

.search_result_i .img_panel {
  margin: 1rem 1rem;
  float: right;
}

.search_result_i .padded_img {
  display: inline-block;
  margin: 1rem 1rem;
  border: none;
  color: #666666;
}

.search_result_i .padded_img .top_title {
  display: block;
  padding: 0.4rem 0;
  border-bottom: 1px solid #e6e6e6;
  overflow: auto;
}
.search_result_i .padded_img .bottom_title {
  display: none;
  padding: 0 0;
  overflow: auto;
}

.search_result_i .istc_metadata {
  margin-left: 1rem;
  margin-top: 1rem;
}

.search_result_i .region_metadata {
  margin-left: 1rem;
  margin-top: 1rem;
}
.search_result_i .search_result_tools {
  clear: both;
  margin-top: 1rem;
  display: block;
  padding: 1rem 0 0 0;
  border-top: 1px solid #e6e6e6;
  overflow: auto;
  text-align: center;
}

.search_result_i .search_result_tools span {
  padding: 0 1rem;
}

.display-none {
  display: none;
}

/* The panel showing message about hidden search results (i.e. search results with low score) */
.hidden_search_result_msg_panel {
  border: none;
  background: #ffaaaa;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
}

/* ISTC search */
.istc_search_panel {
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 16px -4px #e6e6e6;
  background: #f9f9f9;
  padding: 4rem 0;
  text-align: center;
}


/* 
  css based "show more" or "show less" feature for large content 
  source: https://codepen.io/Idered/pen/AeBgF
*/
.show_more_state {
  display: none;
}

.show_more_target {
  visibility: collapse;
}

.show_more_state:checked ~ .show_more_wrap .show_more_target {
  visibility: visible;
}

.show_more_state ~ .show_more_trigger:before {
  content: 'Show more metadata';
}

.show_more_state:checked ~ .show_more_trigger:before {
  content: 'Show less metadata';
}

.show_more_trigger {
  cursor: pointer;
  display: block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
}

.page_footer {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  margin: 6rem 0 1rem 0;
}

ul.hlist {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hlist li {
  display: inline;
  padding-left: 1rem;
}
