body {
    background: white;
    font-size: 16px;
    font-family: helvetica, sans-serif;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

.filename {
  font-size:small;
}

form {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    display: inline;
}

#page {
    position: relative;
    width: 850px;
    margin: auto;
}

#VGG {
    width: 100%; height: 30px; background: #6B87AA; color:#ffffff; padding-top: 5px;
    font-weight: bold;
}
#VGG A { color: #ffffff; }
#VGG A:visited { color: #ffffff; }


#navHome {
    width: 100%; height: 80px; background: #8BA7CA; padding-top: 5px; padding-bottom: 5px;
}
#navHome h3 {
    color:#ffffff; line-height:120%; font-family: 'trebuchet ms', helvetica, sans-serif;
}


#navName {
    width: 100%; height: 80px; background: #C5DFC5; padding-top: 5px; padding-bottom: 5px;
}
#navName h1 {
    color:#548e54; line-height:120%; font-family: 'Bell MT', serif;
}


#content {
    position: relative;
    padding: 10px;
    padding-top: 30px;
}
